[data-type="search-bar"] {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
}

[data-type="search-bar"] input {
  width: 100%;
  background-color: rgb(15, 15, 15);
  padding: 8px 20px 8px 35px;
  border-radius: 15px;
  transition: all 0.4s ease;
}

[data-type="search-bar"] img {
  position: absolute;
  top: 12px;
  left: 20px;
}

[data-type="search-bar"] input:focus {
  outline: 1px solid rgb(102, 255, 102);
}

@media screen and (max-width: 550px) {
  [data-type="search-bar"] {
    max-width: 100%;
  }
}
