:root{
  --first-step-color: white;
  --second-step-color: white;
  --third-step-color: white;
}


.stepbar_container {
  max-width: 430px;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.stepbar_container div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease;
}



.stepbar_container div.step-1::after,
.stepbar_container div.step-2::after,
.stepbar_container div.step-3:after {
  content: "";
  width: 140px;
  display: block;
  height: 4px;
  position: absolute;
  top: 10px;
  z-index: -1;
  transition: all 0.4s ease;
}

.stepbar_container div.step-1::after {
  background-color: var(--first-step-color);
}

.stepbar_container div.step-2::after {
  background-color: var(--second-step-color);
}

.stepbar_container div.step-3::after {
  background-color: var(--third-step-color);
}


.completed {
  background-color: rgb(110, 248, 110);
}
